.b{
    padding: 0 1rem;
    // background-color: #0a192f;   
}
.side-menu-container{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
.side-menu{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
.side-menu-header-container{
    background-color: rgb(10 25 47);
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    height: fit-content;
    padding-bottom: 1rem;
    img{
        width: 3rem;
        height: 3rem;
    }
    .sign-in-container{
        display: flex;
    flex-direction: row-reverse;
    .sign-in{
        display: flex;
        align-items: center;
        padding-right: 1rem;
        padding-top: 1rem;
    }
    }
    .browse-webpage-container{
        padding-left: 1rem;
        font-size: 1rem;
        font-weight:600;
    }
}
.side-menu-body-container{
    height: 100%;
    background-color: white;
    display: flex;
    width: 100%;
}
}
.side-menu-close-container{
    width: 25%;
    background-color: #000000b5;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 2rem;
    color:white;
    img{
        width: 2rem;
        height: 2rem;
    }
}
}
